# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/
coverage/
cache/
artifacts/
typechain-types/
typechain/

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Uploads
uploads/*
!uploads/.gitkeep

# Hardhat
contracts/cache/
contracts/artifacts/
contracts/typechain-types/
contracts/coverage/
contracts/coverage.json
contracts/gasReporterOutput.json

# Misc
*.pem
.turbo/
.vercel/
